.search-form__label {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.search-form__label:focus {
    outline: none;
}

.search-form__label:active {
    text-decoration: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.search-form__label:hover :not(.search-form__textfield) {
    text-decoration: underline;
}