.search-form__pseudo-checkbox {
    display: flex;
    border: 1px solid #fff;
    inline-size: 19px;
    block-size: 19px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}